include mixins/navbar.pug
include mixins/formInputs.pug
include mixins/cards.pug
include mixins/discussion.pug

html
	head
		block vars
		- var dateOptions = {weekday: "long", year: "numeric", month: "short", day: "numeric", hour: "2-digit", minute: "2-digit"}
		- var localizationString = "en-US"
		title= ("Classmates - " + title)

		// General metadata
		meta(name='description', content='A​ ​Web​ ​Based​ ​Student​ ​Oriented​ ​Class/Study​ ​Group​ ​Networking​ ​Tool')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

		// Bootstrap CSS
		link(rel='stylesheet', type='text/css', href='/bootstrap/dist/css/bootstrap.min.css')

		// Glyphicons
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

		link(rel='stylesheet', href='/style.css')


	body
		+navbar(user)
		.container
			.alert(class="alert-"+(messageType))= message
		block content

		script(src="/jquery/dist/jquery.min.js")
		script(src="/jquery-validation/dist/jquery.validate.js")
		script(src="/bootstrap/dist/js/bootstrap.bundle.min.js")
		script(src="/main.js")
		script(src="/formUtils.js")
		block scripts
