extends ../boilerplate.pug

block vars
	- var title= clas.subject

block content
	div.container.container-show
		div.page-header
			h1= clas.subject + ", " + teacher.name + " Period " + clas.period 
				small.text-muted.ml-5(style="font-size: 2.0rem; margin-left: 1rem") Class at 
					a(href=("/school/?id="+school._id))= school.name

		div
			+displayServerErrors(errorMessages)
			h3 Stats
			table.table
				tr.notopborder
					th Date Added
					td= new Date(school.dateCreated).toLocaleTimeString(localizationString, dateOptions)
			br

			h3 Recent Discussions
				+discussion("To be determined")
			