table(cellspacing="0", cellpadding="0", border="0", width="100%")
	tr
		td(bgcolor="#F7F7F7", style="font-family: Verdana")
			div(style="background-color: #388cb0; width: 100%; padding: 0; margin: 0 0 0 0; color: white")
				h3(style="padding: 10 10 10 10") Classmates 
			div(style="padding: 0 0 10 10")
				block content